html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-item {
    flex-grow: 0;
}

.flex-fill {
    flex-grow: 1000;
}
